<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <div class="d-flex align-center">
        <h1>NOTIFICATION SENDER</h1>
      </div>
    </v-app-bar>

    <v-main>
      <ListUsers/>
    </v-main>
  </v-app>
</template>

<script>
import ListUsers from './components/ListUsers';

export default {
  name: 'App',

  components: {
    ListUsers,
  },

  data: () => ({
    //
  }),
};
</script>
